<svg width="{{ dim.canvas.padded_width }}" height="{{ dim.canvas.padded_height }}" xmlns="http://www.w3.org/2000/svg">


{% for line in lines %}
<g>
	{% for shape in line.shapes %}
	<polyline points="{% for point in shape.points %}{{ dim.convert(point.x, false) }},{{ dim.convert(point.y, true) }} {% endfor %}"
	style="fill:none;stroke:{{ line.color ? '#'~line.color : 'black' }};stroke-width:3" />
	{% endfor %}
</g>
{% endfor %}

	<g>
		{% for stop in stops %}
		<circle
		cx="{{ dim.convert(stop.pos.x, false) }}"
		cy="{{ dim.convert(stop.pos.y, true) }}"
		r="4" style="fill:{{ stop.city ? 'blue' : 'white' }};stroke:black;stroke-width:1;">
		<title>{{ stop.name }}</title>
	</circle>
	{% endfor %}
</g>

</svg>